# build output
bin/
obj/
**/bin/
**/obj/

# Visual Studio / Rider
.vs/
.idea/
*.suo
*.user
*.userosscache
*.sln.docstates
*.DotSettings.user

# VS Code
.vscode/*
!.vscode/launch.json
!.vscode/tasks.json
!.vscode/extensions.json
!.vscode/settings.json

# OS
Thumbs.db
.DS_Store

# logs/temp
*.log
*.tmp
*.cache